@import "./button-colors";
@import "./button-sizes";

.button {
  @include font(500);
  @include t();
  @include flex(5px, center, center);
  // border-radius: var(--radius-tn);
  height: 35px;
  line-height: 35px;
  padding: 0 15px;
  font-size: 1.2rem;
  color: var(--color-text-light);
  text-decoration: none;
  text-transform: uppercase;

  svg {
    @include t();
    font-size: 1.6rem;
    color: var(--color-text-light);
  }

  &:disabled {
    pointer-events: none !important;
    cursor: default !important;
  }

  // &:hover {
  //   color: var(--color-text);
  //   background-color: var(--color-bg-light);
  // }
}
