.button {
  &.btn-100 {
    width: 100%;
  }

  &.btn-wider {
    padding: 0 20px;
  }

  &.btn-large {
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
  }

  &.btn-small {
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
  }

  &.btn-icon {
    @include flex(0, center, center);
    width: 35px;
    line-height: 35px;
    padding: 0;

    &.btn-large {
      width: 42px;
      line-height: 42px;

      svg {
        font-size: 3rem;
      }
    }

    svg {
      font-size: 2rem;
    }
  }
}
