.alias-modal {
  @include t();
  position: fixed;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-width: 780px;
  max-width: 1124px;
  width: 75vw;
  // --color-bg-light
  background-color: rgba(#191919, 0.5);
  backdrop-filter: blur(25px);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  border: 1px solid var(--color-border);

  opacity: 0;
  visibility: hidden;
  z-index: -1;
  bottom: 0;

  &.modal-active {
    opacity: 1;
    bottom: 16px;
    visibility: visible;
    z-index: 1000;
  }

  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .modal-wrapper {
    @include grid(40px, 256px 1fr);
    padding: 20px;

    .content {
      @include flex(0, center, center);
      width: 256px;

      img {
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow);
        max-width: 256px;
      }

      p {
        font-size: 1.8rem;
        line-height: 1.35em;
        background-color: var(--color-bg-light-hover);
        padding: 10px;
        border-radius: var(--radius-lg);
        max-height: 324px;
        overflow-y: auto;
      }
    }

    .info {
      // padding: 20px 0;
      align-self: end;

      .category {
        @include font(500);
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 1.4rem;
        color: var(--color-text-lighter);
      }

      .name {
        @include flex(0);
        @include font(700);
        width: 100%;
        // font-size: 6rem;
        font-size: 3vw;
        text-transform: uppercase;
        color: var(--color-text);
        margin-bottom: 20px;
        position: relative;
        padding: 0;
        // margin-bottom: 20px;
        z-index: 5;
        // border-bottom: 1px solid var(--color-border);

        &:after {
          @include t();
          content: "";
          border-radius: var(--radius-sm);
          display: block;
          z-index: -1;
          position: absolute;
          bottom: -5px;
          left: -10px;
          right: -10px;
          height: 0;
          background-color: var(--color-bg);
        }

        &.alias-active,
        &:hover {
          &:after {
            height: calc(100% + 10px);
          }
        }

        b {
          @include font(500);
          font-size: inherit;
          color: var(--color-border);
        }

        svg {
          font-size: 2rem;
          color: var(--color-text-light);
        }
      }

      .meta {
        font-size: 1.2rem;
        color: var(--color-text-light);
      }
    }
  }
}
