.alias-modal {
  @include t();
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  min-width: 780px;
  max-width: 1124px;
  width: 75vw;
  // --color-bg-light
  background-color: rgba(#191919, 0.8);
  backdrop-filter: blur(20px);
  box-shadow: var(--shadow);
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border);

  opacity: 0;
  visibility: hidden;
  z-index: -1;
  bottom: 0;

  &.modal-active {
    opacity: 1;
    bottom: 16px;
    visibility: visible;
    z-index: 1000;
  }

  .btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .modal-wrapper {
    @include flex(40px);
    // @include grid(40px, 256px 1fr);
    padding: 20px;
    border-radius: 8px;

    .content {
      @include flex(0, center, center);
      max-width: 324px;
      min-width: 64px;

      .thumbnail {
        &.is-emote {
          img {
            border-radius: 0;
          }
        }
      }

      img {
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow);
        max-width: 256px;
      }

      p {
        font-size: 1.8rem;
        line-height: 1.35em;
        background-color: var(--color-bg-light-hover);
        padding: 10px;
        border-radius: var(--radius-lg);
        max-height: 324px;
        overflow-y: auto;
      }
    }

    .info {
      align-self: end;
      flex: 1;

      &.show-padding {
        padding-bottom: 40px;

        .name strong {
          font-size: 4.4rem;
        }
      }

      .category {
        @include font(700);
        display: block;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: var(--color-text-lighter);
      }

      .name {
        @include flex(10px);
        width: 100%;
        text-transform: uppercase;
        color: var(--color-text);
        margin-bottom: 20px;
        position: relative;
        padding: 0;
        z-index: 5;

        strong {
          @include font(700);
          margin-right: 40px;
          font-size: 3.6rem;
        }

        &.alias-active,
        &:hover {
          &:after {
            height: calc(100% + 10px);
          }
        }

        b {
          @include font(500);
          font-size: inherit;
          color: var(--color-border);
        }

        svg {
          font-size: 2rem;
          color: var(--color-accent);
        }
      }

      .meta {
        @include flex(10px);
        font-size: 1.2rem;
        color: var(--color-text-light);

        .spacer {
          border-radius: 100%;
          width: 6px;
          height: 6px;
          background-color: var(--color-border);
        }

        button,
        p {
          @include font(400);
          font-size: 1.2rem;
          color: var(--color-text-lighter);
        }

        button {
          color: var(--color-text-light);
          &:hover {
            text-decoration-line: underline;
            text-decoration-thickness: 2px;
            text-decoration-color: var(--color-text-lighter);
          }
        }
      }
    }
  }
}
