.list {
  --alias-width: 96px;
  --alias-height: 128px;
  --alias-line: 5;

  display: grid;
  grid-template-columns: repeat(auto-fill, var(--alias-width));
  grid-gap: 15px;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-bottom: 512px;
  padding-top: 20px;

  &.is-inline {
    display: block;
  }

  &.large-icons {
    --alias-width: 172px;
    --alias-height: 232px;
    --alias-line: 8;
  }
}

.btn-go-up {
  position: sticky;
  bottom: 40px;
  // right: -80px;
  float: right;
  transform: translateX(60px);

  svg {
    color: var(--color-accent) !important;
  }
}

.list-empty {
  @include flex($j: center, $d: column);
  border-radius: 10px;
  border: 1px dashed var(--color-border);
  padding: 60px;
}

.list-loading {
  @include flex(0, center, center);
  height: 128px;

  svg {
    font-size: 2rem;
  }
}
