.list {
  --alias-width: 96px;
  --alias-height: 128px;
  --alias-line: 5;

  // padding: 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--alias-width));
  grid-gap: 15px;
  justify-content: space-between;
  padding-bottom: 40px;

  &.is-inline {
    display: block;
  }

  &.large-icons {
    --alias-width: 172px;
    --alias-height: 232px;
    --alias-line: 8;
  }
}

.list-empty {
  @include flex($j: center, $d: column);
  border-radius: 10px;
  border: 1px dashed var(--color-border);
  padding: 60px;
}
