/*
Utility layout classes
*/

:root {
  --container-small: 592px;
  --container-mid: 840px;
  --container-large: 1024px;
  --container-padding: 0 30px;
}

.flex {
  @include flex(15px);
  width: 100%;

  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.between {
    justify-content: space-between;
  }
  &.top {
    align-items: flex-start;
  }
  &.bottom {
    align-items: flex-end;
  }

  &.gap-8 {
    gap: 10px;
  }
}

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.container {
  max-width: 1148px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2em;
  position: relative;

  &.c-mid {
    max-width: 896px;
  }

  &.c-small {
    max-width: 680px;
  }
}

.container {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: var(--container-padding);

  &.small {
    max-width: var(--container-small);
  }

  &.mid {
    max-width: var(--container-mid);
  }

  &.large {
    max-width: var(--container-large);
  }
}
