.route-create {
  .form-create {
    textarea {
      min-height: 128px;
    }
  }

  .title {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 0;
    }
  }

  input,
  textarea {
    border-left-width: 3px;
  }
}
